@font-face { 
    font-family: "HelvetiHand RUS";
    src: url(HelvetiHand RUS.otf)
}



body {
  background-color: #e49b9e;
  color: white;
  font-family: "HelvetiHand RUS" !important;
}

#container-main {
  width: 100%;
  height: 200vh;
}

#container-main > div {
  width: 100%;
  height: 100vh;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#logo-text {
  font-size: 6vw;
  font-family: "HelvetiHand RUS"
}

#c-1 a {
  color: white;
  text-decoration: none;
}


#myTab {
  position: relative;
  top: 2vh;
  text-transform: uppercase;
}

#myTabContent {
  position: relative;
  top: 2vh;
}

#downarrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,0);
  animation: bounce 1.5s infinite ease-in-out;
}

#downarrowimg {
  width: 10vh;
}

@keyframes bounce {
    0%   { transform: translate(-50%,0); }
    50% { transform: translate(-50%,20%); }
  100% { transform: translate(-50%,0); }
}

.con-about {
  margin-top: 5vh;
}

#left-con-about {
  display: block;
  width: 50%;
  height: 85vh;
  background-repeat: no-repeat;
  color: white;
  float: left;
  padding-right: 2vw;
  line-height: 1.6;
}


#right-con-about {
  display: block;
  width: 50%;
  height: 85vh;
  float: right;
}

a {color: #943237;
transition: all 0.1s ease-in-out}
a:hover {color: #fff;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgba(255,255,255,0.1);
}

#vid-frame {
  position: absolute;
  display: block;
  background-image: url(video-frame.png);
  background-size: cover;
  width: 124vh;
  height: 70vh;
  margin-top: 5vh;
  margin-left: 30vw;
}

#vid-cont {
  display: inline-block;
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;
  position: absolute;
  width: 110vh;
  height: 62vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 62vh;
  font-size: 2vw;
}

#series-choose {
  display: block;
  width: 25vw;
  height: 60vh;
  float: left;
  margin-top: 10vh;
  background-color: rgba(255,255,255,0.1);
  line-height: 60vh;
  text-align: center;
  font-size: 2vw;
}