@font-face { 
    font-family: "KrioDubScript";
    src: url(KRIODUBSCRIPT.OTF);
}



body {
  background-color: #ff9999;
  color: white;
  font-family: "KrioDubScript" !important;
}

#container-main {
  width: 100%;
  height: 200vh;
}

#container-main > div {
  width: 100%;
  height: 100vh;
}

.vertical-center {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%,-40%);
}

#logo-text {
  font-size: 6vw;
  font-family: "KrioDubScript";
}

#c-1 {
  background: url(mic.gif) no-repeat;
  background-size: contain;
}

#c-1 a {
  color: white;
  text-decoration: none;
}

#urls {
  position: relative;
  display: block;
  font-size: 2.5vw;
  width: 100%;
  height: 5vw;
  top: 2vw;
  text-align: center;
  line-height: 5vw;
}

#u-vk {
  display: inline-block;
  width: 50%;
  height: 100%;
  float: left;
  background: url(square.png) no-repeat;
  background-size: contain;
  background-position: 50%;
}

#u-yt {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: url(square.png) no-repeat;
  background-size: contain;
  background-position: 50%;
}


#myTab {
  position: relative;
  top: 2vh;
  text-transform: uppercase;
  z-index: 9999;
}

#myTabContent {
  position: relative;
  top: 2vh;
}

#downarrow {
  position: absolute;
  top: 85%;
  left: 70%;
  transform: translate(-70%,0);
  animation: bounce 1.5s infinite ease-in-out;
}

#downarrowimg {
  width: 10vh;
}

@keyframes bounce {
    0%   { transform: translate(-50%,0); }
    50% { transform: translate(-50%,20%); }
  100% { transform: translate(-50%,0); }
}

.con-about {
  margin-top: 5vh;
}

#left-con-about {
  display: block;
  width: 50%;
  height: 85vh;
  background-repeat: no-repeat;
  color: white;
  float: left;
  padding-right: 2vw;
  line-height: 1.6;
}


#right-con-about {
  display: block;
  width: 50%;
  height: 85vh;
  float: right;
}

a {color: #943237;
transition: all 0.1s ease-in-out}
a:hover {color: #fff;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgba(255,255,255);
    color: #ff9999;
}

.nav-pills .nav-link {
    border: 3px solid #fff;
    margin: 5%;
    color: #fff;
}

#watch {
  width: 100%;
  height: 90vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#player {
  position: relative;
  width: 124.444446vh;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  mask: url(mask.svg);
}

#player-header {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  left: 50%;
  top: 2%;
  transform: translate(-50%,-2%);
  font-size: 1.8vw;
}

#aup {
  position: absolute;
  top: 25vh;
  right: 10vw;
  width: 20vw;
  height: 20vw;
  border: none;
}